@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 275 25% 20%;
    --card: 208 100% 100%;
    --card-foreground: 275 25% 20%;
    --popover: 208 100% 100%;
    --popover-foreground: 275 25% 20%;
    --primary: 275 100% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 271 70% 90%;
    --secondary-foreground: 275 100% 25%;
    --muted: 271 70% 95%;
    --muted-foreground: 271 20% 50%;
    --accent: 271 76% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 271 30% 85%;
    --input: 271 30% 90%;
    --ring: 271 76% 53%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 252 35% 11%;
    --foreground: 0 0% 98%;
    --card: 252 30% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 252 35% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 262 88% 66%;
    --primary-foreground: 252 35% 11%;
    --secondary: 252 25% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 252 25% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 262 88% 66%;
    --accent-foreground: 252 35% 11%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 252 25% 25%;
    --input: 252 25% 25%;
    --ring: 262 88% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
